nav {
  background-color: #FFF;  
  height: 100px; 
}

header .header-image  {
  position: relative;
  z-index: 3;
}

header h2 {  
  position: absolute;
  font-size: 18px;
  top: -180px;
  z-index: 4;
}

header a {
  position: absolute;
  top: 420px;
  z-index: 4;
}

.countdown {
  background-color: #0D293C;
  color: #FFF;
  height: 350px; 
}

.countdown span {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 185px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.agenda-section {
  height: 560px; 
}

.agenda-image {
  position: relative;
  z-index: 3;
}

.agenda-botoes {
  margin-top: -450px;
  padding-bottom: : 200px;
}

.botao-agenda-1, .botao-agenda-2, .botao-agenda-3 {
  margin-right: 40px;
}

.speakers-section {
  background-color: #0D293C;  
  height: 560px; 
}

.speakers-section img {
  margin-top: 70px;
  margin-left: 85px; 
}

.apoio-image {
  position: relative;
  z-index: 3;
}

.como-chegar .endereco {
  font-size: 18px; 
  top: -300px;
  width: 200px;
  height: 0;
  margin-left: -100px;
}

.endereco p {
    font-family: Roboto Bold, sans-serif;
}

.map {
  height: 400px;
  width: 1000px;
  margin-top: -400px; 
}

footer {
  background-color: #0D293C;  
  height: 380px; 
}

footer h2, a {
  top: 100px;
  font-size: 18px;
  text-align: center;
  color: #FFF;
}

.logos-footer, .icones {
  margin: auto;
  width: 50%;
  padding-bottom: 15px;
  padding-top: 15px;
}

.icones {
  margin-left: 300px;
}

.logo-footer-prefeitura, .logo-footer-fablab, .logo-footer-its {
  padding-right: 30px;
  padding-bottom: 15px;
}

.logo-footer-prefeitura {
  padding-top: 30px;
}

.logo-footer-fablab {
  padding-top: 19px;
}

.logo-footer-its {
  padding-top: 40px;
}

@media(max-width: 992px) {
  
  html {
    font-size: 45px;
  }
  
  .countdown {
    height: 175px;
    padding-bottom: 15%;
    padding-top: 15%
  }
  
  .countdown span {
    font-size: 50px;
  }

}

@media(min-width: 1920px) {

  .agenda-section {
    height: 700px; 
  }

  header a {
    top: 680px;
  }  

  .agenda-botoes {
    margin-top: -600px;
    padding-bottom: : 200px;
  }

  .icones {
    margin-left: 450px;
  }

  .logos-footer {
    margin-left: 650px;
  }

}