nav {
  background-color: #FFF;  
  height: 100px; 
}

header {
  position: relative;
  z-index: 3;
}

header h2 {  
  position: absolute;
  font-size: 18px;
  top: -200px;
  z-index: 4;
}

header a {
  position: absolute;
  top: 350px;
  z-index: 4;
}

.countdown {
  background-color: #0D293C;
  color: #FFF;
  height: 350px; 
}

.countdown span {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 185px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.atividades {
  background-color: #FFF;  
  height: 350px; 
}

.speakers {
  background-color: #0D293C;  
  height: 460px; 
}

footer {
  background-color: #0D293C;  
  height: 350px; 
}

@media(max-width: 992px) {
  
  html {
    font-size: 45px;
  }
  
  .countdown {
    height: 175px;
    padding-bottom: 15%;
    padding-top: 15%
  }
  
  .countdown span {
  font-size: 50px;

}]

@media  only screen and (min-width: 1920px) {

  .countdown {
    height: 400px;  
  }

}