html {
  overflow-x: hidden;
}

nav {
  height: 100%; 
}

.navbar-default {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
  position: relative;
  z-index: 5;
}

.navbar-image {
  position: relative;
  z-index: 3;
}

.navbar-brand img {
  top: 30px;
  position: absolute;
  z-index: 15;
}

.nav-home-icone, 
.nav-agenda-icone, 
.nav-speakers-icone, 
.nav-comochegar-icone,
.nav-logo-icone {
  left: -5%;
  top: 50px;
  position: absolute;
  z-index: 12;
}

.nav-home-icone {
  margin-left: -12%;
  width: 50%;
}

.nav-agenda-icone {
  margin-left: -3.5%;
  width: 60%;
}

.nav-speakers-icone {
  margin-left: 6%;
  width: 72.6%;
}

.nav-comochegar-icone {
  margin-left: 12%;
  width: 100%;
}

.nav-logo-icone {
  margin-left: 51%;
  width: 70%;
  top: 52px;
}

.white { 
  width: 120%;
  color: #fff; 
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
  margin-left: 3%;
}

.nav-link { 
  text-align: left; 
  color: #fff;
}

header .header-image  {
  position: relative;
  z-index: 3;
}

header h2 {  
  position: absolute;
  font-size: 18px;
  top: -180px;
  z-index: 4;
}

header a {
  position: absolute;
  top: 420px;
  z-index: 4;
}

.countdown {
  background-color: #0D293C;
  color: #FFF;
  height: 350px; 
}

.countdown span {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 185px;
  margin-bottom: 15%;
}

.agenda-section {
  height: 560px; 
}

.agenda-image {
  position: relative;
  z-index: 3;
}

.agenda-botoes {
  margin-top: -450px;
  padding-bottom: : 200px;
}

.botao-agenda-1, .botao-agenda-2, .botao-agenda-3 {
  margin-right: 40px;
  z-index: 300;
}

.botao-agenda-4 { z-index: 300; }

.speakers-section {
  background-color: #0D293C;  
  height: 560px; 
}

.speakers-section img {
  margin-top: 70px;
  margin-left: 85px; 
}

.speakers-carousel {
  padding: 60px 0;
}

.speakers-carousel .speaker-img {
  width: 90%;
  margin: 0 auto;
  left: -60px;
  top: -80px;
  position: relative;
  z-index: 3;
}

.speakers-carousel .speaker-img img {
  border-radius: 150%;
  padding: 6px;
  border: solid #FFF;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}

.speakers-carousel .speaker-desc {
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  top: 230px;
  position: absolute;
  z-index: 3;
}

.speakers-carousel .speaker-desc p {
  font-size: 18px;
  margin-left: 90px;
  z-index: 3;
}

.comunidades-image {
  position: relative;
  z-index: 2;
}

.comunidades-carousel {
  padding: 0;
}

.comunidades-carousel .comunidade-img {
  width: 80%;
  margin: 0 auto;
  left: 50px;
  top: -360px;
  position: absolute;
  z-index: 3;
}

.comunidades-carousel .comunidade-img img {
  border-radius: 150%;
  padding: 6px;
  border: solid #EB1C24;
  display: inline-block;
  max-width: 100%;
  position: absolute;
  z-index: 50;
}

.comunidades-carousel .comunidade-desc {
  color: #EB1C24;
  text-align: center;
  margin: 0 auto;
  top: -180px;
  position: absolute;
  z-index: 50;
}

.comunidades-carousel .comunidade-desc p {
  font-size: 18px;
  margin-left: 110px;
  margin-top: 60px;
  z-index: 50;
  position: absolute;
}

.apoio-image {
  position: relative;
  z-index: 3;
}

.call-to-action-image { 
  position: relative; 
  z-index: 3;
}

.inscrever .button {
  position: absolute;
  top: -150px;
  z-index: 4;
}

.como-chegar .endereco {
  font-size: 18px; 
  top: -300px;
  width: 200px;
  height: 0;
  margin-left: -100px;
}

.endereco p {
  font-family: Roboto Bold, sans-serif;
}

.map {
  height: 400px;
  width: 1000px;
  margin-top: -400px; 
}

footer {
  background-color: #0D293C;  
  height: 380px; 
}

footer h2, a {
  top: 100px;
  font-size: 18px;
  text-align: center;
  color: #FFF;
}

.logos-footer {
  width: 50%;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: 25%;
}

.icones {
  padding-left: 22%;
}

.logo-footer-fablab, .logo-footer-its {
  padding-right: 30px;
  padding-bottom: 15px;
}

.logo-footer-prefeitura {
  padding-top: 30px;
}

.logo-footer-fablab {
  padding-top: 19px;
}

.logo-footer-its {
  padding-top: 40px;
}

/* mobile stuff */

@media(max-width: 992px) {
  
  body {
    font-size: 45px;
    overflow-x: hidden;
  }
  
  header a {
    position: relative;
    top: 0%;
    z-index: 4;
  }

  .countdown {
    height: 175px;
    padding-bottom: 12.5%;
    padding-top: 12.5%
  }
  
  .countdown span {
    font-size: 40px;
  }

  .speakers-carousel .speaker-img {
    width: 75%;
    margin: 0 auto;
    left: 0px;
    top: -370px;
    z-index: 3;
}

  .speakers-carousel .speakers-desc {
    top: -100px;
  }

  footer {
    height: 400px;
  }

  footer p, a {
    font-size: 18px;
    text-align: center;
    color: #FFF;
 }

  .icones {
    margin-left: 40px;
  }

  .logo-footer-prefeitura, .logo-footer-fablab, .logo-footer-its {
    padding-right: 5px;
    padding-bottom: 15px;
  }

  .logos-footer, .icones {
  padding-top: 15px;
}

}

.nav-mobile {
    background-color: #0D293C;
}

.fa-1x {
  font-size: 1.5rem;
}

.texto-header-mobile {
  padding-top: 15%;
  padding-down: 25%;
  background-color: #0D293C;
  color: #FFF;
  height: 200px;
  text-align: center;
}

.texto-header-mobile h2 {
  font-size: 14px;
}

.inscreva-section-mobile {
  position: relative;
}

.inscreva-mobile-image {
  margin: 0 auto;
  width: 70%;
  position: absolute;
  top: 20px;
  left: 60px;
}

.agenda-section-mobile {
  height: 430px;  
  position: relative;
}

.botao-agenda-mobile-1, 
.botao-agenda-mobile-2 {
  top: 150px;
  padding-right: 10px;
  position: absolute;
}

.botao-agenda-mobile-1,
.botao-agenda-mobile-3 {
   margin-left: 60px; 
}

.botao-agenda-mobile-2,
.botao-agenda-mobile-4 {
   margin-left: 200px; 
}

.botao-agenda-mobile-3,
.botao-agenda-mobile-4 {
  top: 280px;
  padding-right: 10px;
  position: absolute;
}

.agenda-section-mobile-button, .speakers-section-mobile-button {
  padding-top: 30px;
  margin-left: 20px;
}

.speakers-section-mobile {
  height: 484px;  
  background-color: #0D293C;
}

.mapa-section-mobile {
  position: relative;
}

.comunidades-section-mobile {
  position: relative;
}

.ver-no-mapa-button-mobile {
  padding-top: 2%;
  margin-left: 18%;
  top: 66.6%;
  position: absolute;
}

.endereco-mobile {
  font-size: 18px; 
  top: 140px;
  text-align: left;
  margin-left: 18%;
  line-height: 20px;
  position: absolute;
}

.logos-footer-mobile, .icones {
  margin-bottom: 30px;
  padding-top: 15px;
  margin-left: 40px;
}

.icones-mobile {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  margin-left: 60px;
}

.logo-footer-prefeitura-mobile, .logo-footer-fablab-mobile, .logo-footer-its-mobile {
  padding-right: 10px;
  padding-bottom: 15px;
}

/* large screens stuff */

@media screen and (min-width: 1920px) {

  nav {
    height: 120%; 
  }

  header a {
    top: 680px;
  }  

  .countdown span {
    line-height: 1.75;
  }

  .speakers-carousel .speaker-img {
    width: 90%;
    margin: 0 auto;
    left: -40px;
    top: -80px;
    position: relative;
    z-index: 3;
}
  
  .speakers-carousel .speaker-desc p {
    margin: 0 auto;
    text-align: center;
    margin-left: 160px;
  }

  .agenda-section {
    height: 800px; 
    position: relative;
  }

  .agenda-botoes {
    margin-top: -600px;
    padding-bottom: : 200px;
  }

  .icones {
    padding-left: 415px;
  }

  .logos-footer {
    margin-left: 650px;
  }

  .speakers-section img {
    margin-top: 70px;
    margin-left: 130px; 
  }

  .comunidades-carousel .comunidade-img {
    top: -450px;
    left: 100px;
  }

  .comunidades-carousel .comunidade-desc{
    top: -250px;
    left: 60px;
  }

}

@media(max-width: 568px) {

  .countdown span {
    font-size: 30px;
  }

  .endereco-mobile {
    font-size: 18px; 
    top: 50%;
    text-align: left;
    margin-left: 18%;
    line-height: 20px;
    position: absolute;
}

}